.MerchCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    margin: 20px;
    padding: 5px;
    width: 300px;
    transition: 0.1s;
    background-color: rgba(255, 255, 255, 0.1);
}

.MerchImg {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.MerchImg img {
    width: auto;
    height: 150%;
}

.Owner {
    margin: 0.5em;
    font-size: 1.2em;
    text-align: center;
}

.desc {
    margin: 0.5em;
    font-size: 0.75em;
    text-align: center;
}

.MerchCard .desc {
    padding: 10px;
    text-align: center;
    overflow: auto;
    margin-right: 5px;
    margin-left: 5px;
}

.MerchCard .desc::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.MerchCard .desc::-webkit-scrollbar-thumb {
    background-color: #004581;
    border-radius: 10px;
}

.MerchCard .desc::-webkit-scrollbar-track {
    border: 1px solid #023b6d;
    border-radius: 10px;
}

.MerchCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}